<mat-toolbar color="primary">
    <span>Gym Tracker</span>
    <span class="example-spacer"></span>
    <div id="buttons">
        <button mat-icon-button matTooltip="Friends" aria-label="Friends button">
            <mat-icon>people</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Notifications" aria-label="Notifications button">
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Settings" aria-label="Settings button">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</mat-toolbar>