<mat-toolbar color="primary">
    <div id="buttons" fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="selected">
            <button mat-icon-button matTooltip="Timeline" aria-label="Timeline button">
                <mat-icon>feed</mat-icon>
            </button>
        </div>
        <div>    
            <button mat-icon-button matTooltip="Add new Activity" aria-label="Add new Activity button">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
        <div>
            <button mat-icon-button matTooltip="Profile" aria-label="profile button">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>