<mat-card class="card">
    <mat-card-header>
        <img mat-card-avatar class="example-header-image" src="https://scontent-lcy1-1.xx.fbcdn.net/v/t39.30808-1/278068475_1200825524062287_6857538839314347211_n.jpg?stp=dst-jpg_p200x200&_nc_cat=106&ccb=1-5&_nc_sid=7206a8&_nc_ohc=-9a5i5AsG0kAX8GIcPz&_nc_ht=scontent-lcy1-1.xx&oh=00_AT-02GMAxpSs9GFnHhANb3GvQo3vEBOItZd_mlxP2bDiNQ&oe=6258012D">
        <mat-card-title>Hollie Dalby</mat-card-title>
        <mat-card-subtitle>
            <span id="date">6:05PM April 10th, 2022</span>
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://d3o5xota0a1fcr.cloudfront.net/v6/maps/P4Z2TBV5XXB6RGTEFTZO5GOZKUSSF7UYSQNEFGHFM664EYC7EOTEXSKYC5JEI3HSS4DGWXXZEZWJXIYRXEEH3ENAVTNENCZ2" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>